@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400;500;700&family=Teko:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --colour-001: #740034;
	--colour-002: #060c2b;
	--colour-003: #721900;
	--colour-004: #0000007e;
	--colour-005: #1f2232;
	--colour-006: #495074;
	--colour-007: #343953;
	--colour-008: #ac9a9f;

	--size: 84px;
	--degrees: from -30deg at;
}
  